.ContainerLeft {
  width: 40%;
  background-color: var(--bgColorLight);
  display: flex;
}
.ContainerRight {
  background-color: var(--bgBlue);
  width: 40%;
  display: flex;
  align-items: end;
  justify-content: center;
}
.ClothDonation {
  display: flex;
  height: 30vh;
  min-height: 450px;
}
.imageContainer {
  width: 20%;
  background: linear-gradient(to left, #f3ebe1, #d3e2e8);
  transition: all 200ms ease-in;
  min-width: 350px;
}

.imageContainer:hover {
  opacity: 0.8;
}
.container {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ContainerRight .container {
  margin-top: 0rem;
  margin-bottom: 3rem;
}

@media (max-width: 1700px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 1300px) {
  .imageContainer {
    display: none;
  }
  .ContainerLeft,
  .ContainerRight {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .ClothDonation {
    flex-direction: column;
    height: unset;
    min-height: unset;
    background-color: var(--bgColorLight);
    font-size: 0.9rem;
  }
  .ContainerLeft,
  .ContainerRight {
    width: 100%;
  }
  .ContainerLeft {
    margin-bottom: 2rem;
  }
  .ContainerRight {
    margin-top: 2rem;
  }
  .container h1 {
    margin-top: 2rem;
    font-size: 1.2rem;
  }
}
