body{
    background-color: var(--bgColor);
}
.formContainer{
    width: 100%;
   
   align-items: center;
   justify-content: space-around;
 min-height: 1000px;
    height: 80vh;
}

.contactform{
    width: 1000px;
    padding: 2rem;
    margin: auto;
   
}

.row{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 1000px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.row input{
    font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.row textarea{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
    height: 250px;
}

.row button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.formLeft{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
   
}
.contactContainer{
    display: flex;
    align-items:center;
    gap: 1rem;
    
}
.formTextContainer h1{
font-size: 3rem;
}

.formTextContainer p{
    font-size: 1.5rem;
}

.formTextContainer span{
    font-size: 1.2rem;
}