.hero {
  margin: 0;
}

.bgContent {
  height: 50vh;
  background: url("../../../public/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.box {
  background: var(--bgColor);
  min-width: 500px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 30%;
}
.box h1,
p {
  color: #fff;
}
.box button {
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: white;
  background: #ff378f;
  border: none;

  border-radius: 4px;
  transition: all 300ms ease-in;
}
