:root{
  --bgColor: #0e161c;
  --textLight: #E8AD74;
  --bgColorLight:#F3EBE1;
  --bgBlue: #D3E2E8;
}

.flexContainer{
  display: flex;
}

li{
  list-style: none;
}

.flexAlignment{
  justify-content: space-around;
  align-items: center;
}

.primaryText{
  color: #2C2625;
}
.secondaryText{
  color:#C4C0BE; 
}