:root {
  --bgColor: #0e161c;
  --textLight: #e8ad74;
  --bgColorLight: #f3ebe1;
  --bgBlue: #d3e2e8;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

.flexContainer {
  display: flex;
}

li {
  list-style: none;
}

.flexAlignment {
  justify-content: space-around;
  align-items: center;
}

.primaryText {
  color: #2c2625;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.secondaryText {
  color: #333;
  font-family: "Roboto", sans-serif;
}

.return{
  color: var(--bgColor)
}